@import "../styles/variables.css";
@media (min-width: 580px) {
  body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
  }
  .header_logo {
    margin-right: 60px;
  }
  .navigation {
    display: flex;
    margin: auto 30px;
    justify-content: space-evenly;
    width: auto;
  }
  .navigation a {
    font-size: 15px;
  }

  .label__hamburger {
    display: none;
  }
  header {
    display: grid;
    grid-template-columns: 2fr 4fr;
    max-width: 1400px;
    margin: 0 auto;
  }
  .navigation,
  .navigation a {
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 10px;
  }
  .navigation a:hover {
    background-color: rgba(54, 54, 104, 0.082);
    border-radius: 20px;
  }
}

@media (min-width: 750px) {
  .navigation a {
    font-size: 20px;
  }
  .main_info {
    display: flex;
  }
  .main_info * {
    flex: 1;
  }
  .main_info p {
    margin: 20px;
  }
  .main_info img {
    height: 410px;
    width: 400px;
    margin-right: 20px;
  }
  a {
    font-size: 30px;
  }
  /* index */
  .index_main_sect {
    display: flex;
  }
  .index_main_sect img {
    margin-right: 20px;
  }
  .index_main_sect p {
    margin-left: 20px;
  }
  /* visits */
  .visit_main_info {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .maps {
    height: 400px;
  }
  /*  */

  /* explore */
}
@media (min-width: 900px) {
  .navigation {
    margin-right: 105px;
  }
}
