.maps {
  max-width: 600px;
  height: 200px;
  border: solid 2px var(--color-lines-and-icons);
}
.opening_times p{
    text-align: center;
    margin-top: 30px;
    line-height: 10px;
}
.visit_form div input {
  border-color: var(--color-lines-and-icons);
  
}